.container {
    padding: 0 2rem;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    min-height: 100vh;
    padding-top: 4rem; 
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: left; 
    color: var(--primary-teal);
    font-family: 'Visuelt', sans-serif;
    margin-bottom: 2rem; 
  }
  
  .subtitle {
    font-size: 1.5rem;
    text-align: left; 
    color: var(--primary-black);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
  }
  
  .paragraph {
    font-size: 1rem;
    text-align: left;
    color: var(--primary-black);
    font-family: 'HK Nova', sans-serif;
    margin-bottom: 1rem;
  }
  