.nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: var(--primary-black);
    font-family: 'Roboto', sans-serif;
  }
  
  .navLink {
    margin: 0 1rem;
    color: var(--primary-green);
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  